.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    }
     
    .profile-card {
    background: linear-gradient(145deg, #f3f4f6, #ffffff);
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.5);
    padding: 40px;
    width: 60%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    }
     
     
    .profile-card:hover {
    transform: scale(1.05);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.15);
    }
     
    .profile-card h1 {
    font-size: 2.5rem;
    color: #17a2b8;
    margin-bottom: 100px;
    animation: fadeIn 1s ease-in-out;
    text-transform: capitalize;
    }
     
    .profile-info {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.05);
    }
     
    .profile-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 20px;
    color: #444;
    border-bottom: 1px solid #eee;
    transition: color 0.2s;
    }
     
    .profile-item label {
    font-weight: bold;
    color: #17a2b8;
    }
     
    .profile-item span {
    color: #333;
    }
     
     
    /* Animations */
    @keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(-20px);
    }
     
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }
     
    @keyframes slideDown {
    from {
    opacity: 0;
    transform: translateY(-30px);
    }
     
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }
     
    @keyframes fadeOut {
    to {
    opacity: 0;
    }
    }
    