<div class="product-page">
  <p class="message" *ngIf="message">{{ message }}</p>

  <!-- PRODUCT HEADER -->
  <div class="product-header">
    <h1>Products</h1>
    <button class="add-product-btn" (click)="navigateToAddProductPage()">
      Add Product
    </button>
  </div>

  <!-- PRODUCT LIST -->
  <div class="product-list" *ngIf="products.length > 0">
    <div class="product-item" *ngFor="let product of products">
      <img
        [src]="product.imageUrl"
        [alt]="product.name"
        class="product-image"
      />
      <div class="product-info">
        <h3 class="name">{{ product.name }}</h3>
        <p class="sku">Sku: {{ product.sku }}</p>
        <p class="sku">Sku: {{ product.price }}</p>
        <p class="sku">Sku: {{ product.stockQuantity }}</p>
      </div>

      <!-- PRODUCT ACTIONS -->
      <div class="product-actions">
        <button (click)="navigateToEditProductPage(product.id)" class="edt-btn">
          Edit
        </button>
        <button (click)="handleProductDelete(product.id)" class="delete-btn">
          Delete
        </button>
      </div>
    </div>
  </div>

  <!-- PAGONATIOOPN COMPONETN IN USE -->
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
</div>
