<div class="purchase-form-page">
    <p *ngIf="message" class="message">{{ message }}</p>
    <h1>Sell Product</h1>
  
    <!-- PRODUCT PURCHASE? INVENTORY RECEIVING PAGE -->
    <form (ngSubmit)="handleSubmit()">
  
      <div class="form-group">
        <label for="">Select Product</label>
        <select
          name="productId"
          class="form-control"
          [(ngModel)]="productId"
          id=""
        >
          <option value="">Select a product</option>
          <option *ngFor="let product of products" [value]="product.id">
            {{ product.name }}
          </option>
        </select>
      </div>
      

      <div class="form-group">
          <label for="">Description</label>
          <input type="text" [(ngModel)]="description" name="description" class="form-control"/>
        </div>
  
  
      <div class="form-group">
          <label for="">Quantity</label>
          <input type="number" [(ngModel)]="quantity" name="quantity" class="form-control"/>
        </div>
  
  
        <button type="submit" class="btn btn-primary">Sell Product</button>
    </form>
  </div>
  