<div class="category-page">
  <div *ngIf="message" class="message">
    {{ message }}
  </div>

  <div class="category-header">
    <h1>Category</h1>
    <!-- FORM TO ADD AND EDIT CATEGORY -->
    <div class="add-cat">
      <input
        type="text"
        [(ngModel)]="categoryName"
        placeholder="Category name"
      />
      <button *ngIf="!isEditing" (click)="addCategory()">Add Category</button>
      <button *ngIf="isEditing" (click)="editCategory()">Edit Category</button>
    </div>
  </div>

  <!-- DISPLAY THE CATEGORIES -->
  <ul *ngIf="categories.length > 0" class="category-list">
    <li *ngFor="let category of categories" class="category-item">
      <span>{{ category.name }}</span>
      <div class="category-actions">
        <button (click)="handleEditCategory(category)">Edit</button>
        <button (click)="handleDeleteCategory(category.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>
