
<div class="dashboard-container">
    <h1>Transaction Dashboard</h1>

      
    <!-- Transaction Selection -->
    <div style="margin-bottom: 50px; margin-top: 30px;">
        <label>Select Month:</label>
        <select [(ngModel)]="selectedMonth">
          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
        </select>
    
        <label>Select Year:</label>
        <select [(ngModel)]="selectedYear">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
    
        <button (click)="loadMonthlyData()">Show Monthly Data</button>
      </div>

  
    <!-- Transaction Type Count Bar Chart -->
    <div style="margin-bottom: 30px;">
      <h2>Transaction Counts by Type</h2>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'vivid'"
        [results]="transactionTypeData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="showLegend"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Transaction Type"
        yAxisLabel="Count"
        [animations]="animations">
      </ngx-charts-bar-vertical>
    </div>
  
    <!-- Transaction Amount by Type Pie Chart -->
    <div style="margin-bottom: 30px;">
      <h2>Total Transaction Amount by Type</h2>
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="'cool'"
        [results]="transactionAmountData"
        [legend]="showLegend"
        [labels]="showLabels"
        [doughnut]="false"
        [animations]="animations">
      </ngx-charts-pie-chart>
    </div>
  


    <!-- Monthly Transaction Bar Chart -->
    <h2 style="margin-bottom: 50px;">Monthly Transaction Chart</h2>

    <div *ngIf="monthlyTransactionData.length">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'flame'"
        [results]="monthlyTransactionData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="showLegend"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Day of Month"
        yAxisLabel="Total Price"
        [animations]="animations">
      </ngx-charts-bar-vertical>
    </div>
  </div>
  
  